@use '/styles/variables' as *;

.tableBox {
  overflow: hidden;
  background-color: $primary-light-color;
  width: 100%;
  border-radius: 20px;

  .tableBoxHeader {
    background-color: $primary-color;
    color: white;
    padding: $pad-xl $pad-xxxl;
  }

  .tableBoxBody {
    padding: $pad-xl $pad-xxxxl;
  }
}