.button {
  outline: 2px inset;
  outline-offset: -3px;
  border: none;
  font-size: 16px;
  padding: var(--space-m) var(--space-xxl);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.primary {
  outline-color: var(--color-secondary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.primary:hover {
  background-color: var(--color-primary-dark);
}

.secondary {
  outline-color: var(--color-primary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.secondary:hover {
  background-color: var(--color-secondary-dark);
}

.tertiary {
  outline-color: var(--color-secondary);
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

.tertiary:hover {
  background-color: var(--color-tertiary-dark);
  color: var(--color-primary);
}

.fullWidth {
  width: 100%;
}