.emailFieldContainer {
  display: flex;
  justify-content: flex-end;
  padding: var(--space-xl) var(--space-l);
  border-bottom: 1px solid #6f6f6f;
}

.emailField {
  display: flex;
  align-items: stretch;
}

.emailField > input {
  flex-grow: 1;
  padding-left: var(--space-l);
}

.signUpButton {
  outline: none;
}