.sidebarContainer {
  position: fixed;
  height: 100vh;
  top: 50px;
  left: 0;
  width: 100vw;
  background-color: var(--color-secondary70);
  z-index: 10;
  left: -100vw;
}

@media (min-width: 768px) {
  .sidebarContainer {
    display: none;
  }
}

.sidebarContainerOpen {
  left: 0;
}

.sidebar {
  position: relative;
  width: 320px;
  background-color: var(--color-primary);
  padding: var(--space-xl) 0;
  height: 100%;
  left: -320px;
  transition: inset .5s;
}

.sidebarContainerOpen .sidebar {
  left: 0;
}

.sidebarTopButtonContainer {
  padding: 0 var(--space-m);
}

.sidebarTopButton {
  box-sizing: border-box;
  margin: -1px -1px var(--space-l);
  outline-width: 1px;
}

.menuItem {
  transition: all .2s;
  padding: var(--space-m) var(--space-l) 0;
}