@use '../../styles/variables' as *;

.galeriCard {
  display: flex;
  background-color: $primary-light-color;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
  width: clamp(360px, 64vw, 800px);
  aspect-ratio: 2.55 / 1;
}

.galeriCardContent {
  flex: 0 0 40%;
  padding: $pad-xxl $pad-xxxxl;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(max-width: $mobile) {
    padding: $pad-xl $pad-xxl;
  }

  h4 {
    margin-bottom: $pad-l;
  }

  p {
    margin-bottom: $pad-xxxl;
    font-size: 16px;
    max-width: 240px;

    @media(max-width: $mobile) {
      font-size: 12px;
    }
  }

  .readMore {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    padding: $pad-m 0;
    border-radius: 24px;
    border-top-left-radius: 0;

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }

      @media(max-width: $mobile) {
        font-size: 12px;
      }
    }
  }
}

.imageWrapper {
  flex: 0 0 60%;
}