@use '../../styles/variables' as *;

.galeriCard {
  width: 333px;
  background-color: $primary-light-color;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  overflow: hidden;

  @media(max-width: $mobile) {
    width: 267px;
  }
}

.galeriCardContent {
  padding: $pad-xxl $pad-xxxl;

  @media(max-width: $mobile) {
    padding: $pad-xl $pad-xxl;
  }

  h4 {
    font-size: 22px;

    @media(max-width: $mobile) {
      font-size: 12px;
    }
  }

  p {
    @media(max-width: $mobile) {
      font-size: 12px;
    }
  }

  .readMore {
    margin: $pad-xxl auto 0;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    padding: $pad-m 0;
    border-radius: 24px;
    border-top-left-radius: 0;

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }

      @media(max-width: $mobile) {
        font-size: 12px;
      }
    }
  }
}

.imageWrapper {
  height: 222px;

  @media(max-width: $mobile) {
    height: 178px;
  }
}