@use '/styles/variables' as *;

.inputWrapper {
  display: flex;
  flex-direction: column;

  .inputLabel {
    margin-bottom: $pad-m;
    font-size: 16px;

    .required {
      color: red;
    }
  }

  .helperButton {
    font-size: 16px;
    color: $black-grey-color;
    text-decoration: underline;
    cursor: pointer;
  }

  .input {
    border-radius: 8px;
    font-size: 16px;
    padding: $pad-m $pad-xxxl;
    outline: none;
    border: none;
    background-color: $primary-light-color;

    &[type=number]::-webkit-inner-spin-button, 
    &[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &::placeholder {
      color: $black-grey-color;
    }

    &:required:invalid:focus {
      border: 1.5px solid red;
    }
  }
}