@use '../../styles/variables' as *;

.navbar {
  background-color: $primary-dark-color;
  display: flex;
  padding: $pad-xl $pad-xxxxxxl;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tab) {
    padding: $pad-xl $pad-xxl;
    flex-wrap: wrap;
  }

  .imageWrapper {
    span {
      @media (max-width: $mobile) {
        width: 36px !important;
        height: 34px !important;
      }
    }
  }
}

.navbar > div:first-child {
  display: flex;
  align-items: center;
  gap: $pad-xxl;

  @media (max-width: $tab) {
    gap: $pad-m;
  }

  h3 {
    color: white;
    max-width: 303px;
  }
}

.menu {
  ul {
    list-style-type: none;
    display: flex;
    gap: $pad-xl $pad-xxxxl;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    li {
      max-width: 128px;
      text-align: right;
      text-transform: uppercase;

      a {
        color: white;
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.activeMenu {
  a {
    text-decoration: underline !important;
    pointer-events: none;
  }
}

.navbarBottom {
  padding: $pad-xl $pad-xxxxxxl;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $primary-color;

  @media (max-width: $tab) {
    padding: $pad-m $pad-xxl;
  }
}

.loginButton {
  min-width: 120px;
  background-color: $secondary-color;
  padding: $pad-m $pad-xxxxl;
  border-radius: 20px;
}

.callUs {
  display: flex;
  gap: $pad-m;
  align-items: center;
  color: white;

  @media (max-width: $tab) {
    gap: $pad-s;

    p {
      font-size: 14px;
    }

    span {
      width: 20px !important;
      height: 20px !important;
    }
  }
}