.container {
  background: linear-gradient(to bottom, var(--color-secondary70) 0, var(--color-transparent) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: var(--space-xxxxl);
  z-index: 10;
}

.container * {
  color: white;
}

.navbarTitle {
  padding-top: var(--space-xl);
  text-transform: capitalize;
}

.navbarTitle :is(h4, svg) {
  font-family: var(--font-title);
  filter: drop-shadow(0 3px 1px var(--color-secondary70));
}

.hamburger, .login {
  padding: var(--space-l);
  cursor: pointer;
}

