@use '../../styles/variables' as *;

.navbar {
  background-color: $primary-dark-color;
  display: flex;
  padding: $pad-xl $pad-xxxxxxl;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile) {
    padding: $pad-xl;
    flex-wrap: wrap;
  }

  .imageWrapper {
    span {
      @media (max-width: $mobile) {
        width: 28px !important;
        height: 26px !important;
      }
    }
  }
}

.navbar > div:first-child {
  display: flex;
  align-items: center;
  gap: $pad-xxl;

  h2 {
    color: white;
  }
}

.menu {
  ul {
    list-style-type: none;
    display: flex;
    gap: $pad-xxxxl;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    li {
      color: white;
      font-size: 24px;
      cursor: pointer;
      max-width: 120px;
      text-align: right;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.hamburger {
  display: none;

  span {
    background-color: white;
    width: 24px;
    height: 3px;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    gap: 3px
  }
}

.navbarBottom {
  padding: $pad-xl $pad-xxxxxxl;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $primary-color;
}

.callUs {
  display: flex;
  gap: $pad-m;
  align-items: center;
  color: white;
}