.navbar {
  background: linear-gradient(to bottom, var(--color-secondary70) 0, var(--color-transparent) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: var(--space-xxxxl);
  z-index: 10;
  height: 67.5px;
  transition: all .5s;
}

.whiteNavbar {
  background: var(--color-primary);
  border-bottom: 1px solid var(--color-secondary);
  height: 50px;
}

.navbar * {
  color: var(--color-primary);
}

.navbarTitle {
  position: relative;
  padding-top: var(--space-xl);
  text-transform: capitalize;
  top: 0;
  transition: all .3s;
}

.whiteNavbar .navbarTitle {
  top: -8px;
}

.whiteNavbar * {
  color: var(--color-secondary);
}

.navbarTitle :is(h4, svg) {
  font-family: var(--font-title);
  filter: drop-shadow(0 3px 1px var(--color-secondary70));
}

.hamburger, .login {
  padding: calc(var(--space-l) + 3px);
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

