@use '/styles/variables' as *;

.videoInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    margin-bottom: $pad-l;
  }

  & > div {
    width: 100%;
    gap: $pad-xxxl;
    margin-bottom: $pad-xxxxl;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & > div {
      width: 100%;
    }
  }
}

.updateButton {
  font-size: 16px;
  padding: $pad-l $pad-xxxxl;
  background-color: $primary-color;
  border-radius: 8px;
  border: none;
  outline: none;
  min-width: 160px;
  color: white;
  font-weight: 700;
  margin: $pad-xxxxl auto;
}