@use '/styles/variables' as *;

.box {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: $pad-xl;
  background-color: $primary-color;
  border-radius: 20px;
  padding: $pad-xxxl;

  h2 { color: white}
  
  input {
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 700;
    padding: $pad-xl;
    border: 3px solid $primary-light-color;

    &::placeholder {
      color: $black-grey-color;
    }
  }

  .loginButton {
    align-self: flex-end; 
    min-width: 142px;
    padding: $pad-l 0;
    font-weight: 700;
    font-size: 18px;
    background-color: white;
    border: 3px solid $primary-light-color;
    border-radius: 15px;
    margin-top: $pad-xxxl;
  }
}