@use '/styles/variables' as *;

.nextArrow, .prevArrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.6;
  background-color: white;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  display: inline-block;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.nextArrow {
  right: 0;
}

.nextArrow:hover, .prevArrow:hover {
  opacity: 1;
}