@use '/styles/variables' as *;

.authenticatedNav {
  background-color: $primary-dark-color;
  display: flex;
  padding: $pad-xxl $pad-xxxxxxl;
  align-items: center;
  gap: $pad-xxxxl;
  justify-content: space-between;

  @media (max-width: $tab) {
    padding: $pad-xxl $pad-xl;
  }

  .navLeft {
    display: flex;
    align-items: center;
    justify-content: center;

    .logoWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid white;

      .currentMenu {
        color: white;
        padding: $pad-m $pad-xxl;

        @media (max-width: $tab) {
          padding: $pad-m $pad-l;
        }
      }

      @media (max-width: $tab) {
        span, img {
          min-width: 20px !important;
          max-width: 20px !important;
          min-height: 20px !important;
          max-height: 20px !important;
        }
      }
    }

    .menuDropdownWrapper {
      position: relative;

      @media (max-width: $tab) {
        position: static;
      }

      .menuSelect {
        cursor: pointer;
        position: relative;
        padding: $pad-m $pad-xxl;
        padding-right: $pad-xxxxl;
        color: white;

        @media (max-width: $tab) {
          padding: $pad-m $pad-l;
          padding-right: $pad-xxl;
        }

        .triangle {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          width: 0; 
          height: 0; 
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid white;

          @media (max-width: $tab) {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid white;
          }
        }
      }

      .menuDropdown {
        outline: none;
        display: none;
        position: absolute;
        z-index: 10;
        left: $pad-m;
        top: 100%;
        flex-direction: column;
        background-color: $primary-light-color;
        padding: calc($pad-xl - $pad-m) $pad-xxxl;
        box-shadow: 2px 2px 5px -1px $black-grey-color;
        min-width: 196px;

        @media (max-width: $tab) {
          top: 74.5px;
          width: 100vw;
          left: 0;
          text-align: center;
        }

        .santriDropdown {
          display: flex;
          flex-direction: column;
          padding-left: $pad-l;
        }
        

        & h4 {
          min-width: max-content;
          display: block;
          text-decoration: none;
          padding: $pad-m 0;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .navRight {
    .profileWrapper {
      position: relative;
      display: flex;
      align-items: center;
      color: white;
      gap: $pad-xl;

      .name {
        @media (max-width: $tab) {
         display: none;
        }
      }

      .avatarIcon {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .triangle {
        cursor: pointer;
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid white;

        @media (max-width: $tab) {
          display: none;
        }
      }

      .menuDropdown {
        outline: none;
        position: absolute;
        z-index: 10;
        display: none;
        right: 0;
        top: 100%;
        padding: $pad-xl $pad-xxxl;
        min-width: 196px;
        background-color: $primary-light-color;
        color: black;
        box-shadow: 2px 2px 5px -1px $black-grey-color;

        h4 {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}