.dropdown {
  position: relative;
  transition: all 1s;
  font-size: 16px;
  overflow: hidden;
}

.dropdownItemContainer {
  height: 0;
  opacity: 0;
  transition: all .2s;
  padding-left: var(--space-l);
}

.dropdownOpen .dropdownItemContainer {
  height: auto;
  opacity: 1;
}

.dropdownItemContainer * {
  font-size: .92em;
}

.dropdownItemContainer > * {
  padding: var(--space-l) 0 var(--space-m);
}

.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
  padding: 2px;
  padding-bottom: 6px;
}

.dropdownOpen .dropdownButton {
  transform: rotate(180deg);
}

.arrowDropdown {
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--color-secondary);
  border-right: 1px solid var(--color-secondary);
  transform: rotate(135deg);
}