@use '/styles/variables' as *;

.dropdown {
  position: relative;
  transition: all 1s;
  font-size: 16px;
  overflow: hidden;
}

.dropdownMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown > .dropdownItemContainer {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: all .2s;
}

.dropdownOpen > .dropdownItemContainer {
  height: auto;
  opacity: 1;
  display: block;
}

.dropdownItemContainer > * {
  padding: var(--space-l) 0 var(--space-m);
}

.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
  padding: 2px;
  padding-bottom: 6px;
  cursor: pointer;
}

.dropdownOpen > .dropdownMain > .dropdownButton {
  transform: rotate(180deg);
}

.arrowDropdown {
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(135deg);
}