@use './variables' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $ff-heading;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 35px;
}

h4 {
  font-size: 22px;
}

p, div {
  font-size: 22px;
}

p, span, button, div, a {
  font-family: $ff-paragraph;
  margin: 0;
}