@use './variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

main {
  min-height: calc(100vh - 300px);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $ff-heading;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 13px;
}

p, div, li {
  font-size: 20px;
}

@media (max-width: $tab) {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $ff-heading;
  }
  
  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 16px;
  }
  
  h3 {
    font-size: 15px;
  }
  
  h4 {
    font-size: 14px;
  }
  
  p, div, a {
    font-size: 13px;
  }
}

p, span, button, div, a, input {
  font-family: $ff-paragraph;
  margin: 0;
}

a {
  color: black;
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

canvas {
  width: 100% !important;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input {
  &[type=number]::-webkit-inner-spin-button, 
    &[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    } 
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $primary-light-color;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background-color: $primary-dark-color;
}



.ReactChart path {
  stroke: $primary-color !important;
}

.ReactChart rect {
  stroke: $primary-color !important;
  fill: $primary-color !important;
}