@use './variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $ff-heading;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p, div, li {
  font-size: 20px;
}

@media (max-width: $mobile) {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $ff-heading;
  }
  
  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 16px;
  }
  
  h3 {
    font-size: 15px;
  }
  
  h4 {
    font-size: 14px;
  }
  
  p, div, a {
    font-size: 11px;
  }
}

p, span, button, div, a, input {
  font-family: $ff-paragraph;
  margin: 0;
}

a {
  color: black;
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

canvas {
  width: 100% !important;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}