// Color
$primary-dark-color: #183932;
$primary-color: #387B5C;
$primary-light-color: #DCE4CC;
$secondary-color: #D6B452;
$secondary-dark-color: #B99327;
$black-grey-color: #888888;
$red-color: #910b03;

// Pad
$pad-s: 4px;
$pad-m: 8px;
$pad-l: 13px;
$pad-xl: 16px;
$pad-xxl: 20px;
$pad-xxxl: 24px;
$pad-xxxxl: 36px;
$pad-xxxxxl: 48px;
$pad-xxxxxxl: 64px;

// Font Family
$ff-heading: Calibri, sans-serif;
$ff-paragraph: Calibri, sans-serif;

// Breakpoint
$mobile: 560px;
$tab: 768px;
$small-desktop: 1200px;
