// Color
$primary-dark-color: #183932;
$primary-color: #387B5C;
$primary-light-color: #E2F5BD;
$secondary-color: #D6B452;
$black-grey-color: #706E6E;

// Pad
$pad-s: 4px;
$pad-m: 8px;
$pad-l: 12px;
$pad-xl: 16px;
$pad-xxl: 24px;
$pad-xxxl: 36px;
$pad-xxxxl: 48px;

// Font Family
$ff-heading: Calibri, sans-serif;
$ff-paragraph: Calibri, sans-serif;
