@use '/styles/variables' as *;

.pengunjungContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: $pad-xxxxxl $pad-xxxxxxl;

  .pengunjungTitle {
    font-weight: 400;
    margin-bottom: $pad-xxxxl;
  }

  .pengunjungSummary {
    display: flex;
    flex-wrap: wrap;
    gap: $pad-xxxxl;
    padding-bottom: $pad-xxxxl;
    margin-bottom: $pad-xxxxxxl;

    & > * {
      flex: 1 1 calc(100% / 3 - $pad-xxxxl);
    }
  }

  .chartFilter {
    display: flex;
    gap: $pad-xxxl;

    & > * {
      min-width: 160px;
    }
  }

  .chartWrapper {
    background-color: $primary-light-color;
    border-radius: 20px;
    padding: $pad-xxxl $pad-xxxxl;
    margin: $pad-xxxxxl auto;
    width: min(100%, 960px);

    & > div {
      aspect-ratio: 8 / 5;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.pengunjungSummaryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $pad-xxxxl;
  background-color: $primary-light-color;
  padding: $pad-xxxxxl;
  border-radius: 20px;

  h1 {
    color: $primary-color;
  }

  h4 {
    text-align: center;
  }
}


.hasilPendaftaranContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: $pad-xxxxxl $pad-xxxxxxl;

  .hasilPendaftaranTitle {
    font-weight: 400;
    margin-bottom: $pad-xxxxl;
  }
  
  .tableContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 200px;
    min-width: 760px;

    .viewButton {
      align-self: flex-start;
      padding: $pad-l $pad-xxl;
      border-radius: 8px;
      font-size: 16px;
      background-color: $primary-light-color;
      font-weight: 700;
      margin-bottom: $pad-xl;
      cursor: pointer;
    }

    .downloadButton {
      min-width: 160px;
      align-self: flex-end;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $pad-l $pad-xxl;
      border-radius: 8px;
      font-size: 16px;
      background-color: $primary-color;
      color: white;
      font-weight: 700;
      margin-bottom: $pad-xl;
      cursor: pointer;
      margin-top: $pad-xxl;
    }

    .downloadButtonDisabled {
      @extend .downloadButton;
      pointer-events: none;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th {
      background-color: $primary-light-color;
      font-weight: 400;
      padding: $pad-m $pad-xxl;
      text-align: left;
      font-size: 16px;

      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    td {
      padding: $pad-l;
      padding-left: $pad-xxl;
      font-size: 16px;
    }
  }
}

.inputKontenContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: $pad-xxxxxl $pad-xxxxxxl;

  .inputKontenTitle {
    font-weight: 400;
    margin-bottom: $pad-xxxxl;
  }

  .inputKontenFilter {
    max-width: 180px;
    margin-bottom: $pad-xxxl;
  }

  .inputKontenWrapper {
    display: flex;
    flex-direction: column;
    gap: $pad-xxxl;
    margin: 0 auto;
    max-width: 960px;
  }
}