@use './variables' as *;

.bannerSection {
  height: 60vh;

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  
    span {
      height: 100% !important;
    }
  
    h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: $pad-xxxl;
      padding-left: $pad-xxxxxxl;
      background-color: $primary-light-color;
      color: $primary-dark-color;

      @media (max-width: $tab) {
        top: unset;
        bottom: 0;
        right: 0;
        transform: unset;
        padding: $pad-l;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

.kurikulumSection {
  padding: $pad-xxxxl 0 $pad-xxl;

  @media (max-width: $tab) {
    padding-top: $pad-xl;
  }

  h2 {
    background-color: $primary-light-color;
    color: $primary-dark-color;
    padding: $pad-xl $pad-xxxxxxl;
    text-align: center;

    @media (max-width: $tab) {
      font-size: 14px;
      text-align: center;
      padding: $pad-l;
      background-color: white;
    }
  }

  .kurikulumWrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: $pad-xxxxxl;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: $pad-xxxxxxl;

    @media (max-width: $tab) {
      padding: $pad-xxxl 0 $pad-xxl;
    }
  
    @media (max-width: $tab) {
      align-items: center;
      flex-direction: column;
      gap: $pad-xxxl;

      span {
        width: 26px !important;
        height: 32px !important;
      }
    }

    .kurikulumItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $pad-xl;
      width: 180px;

      p {
        font-size: 16px;
        text-align: center;
      }

      
      @media (max-width: $tab) {
        flex-direction: row;

        p {
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }

  .kurikulumRef {
    max-width: calc(960px + $pad-xxxxxl);
    margin: 0 auto;
    padding: $pad-xxxxxl;
    padding-top: 0;
    text-align: center;
    color: $black-grey-color;
    font-size: 14px;

    @media (max-width: $tab) {
      font-size: 10px;
      padding: 0 $pad-xxxxl;
    }
  }
}

.targetSection {
  h2 {
    background-color: $primary-light-color;
    color: $primary-dark-color;
    padding: $pad-xl $pad-xxxxxxl;
    text-align: right;

    @media (max-width: $tab) {
      text-align: center;
      padding: $pad-l;
    }
  }

  .targetWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: $pad-xxxxxxl;
    padding: $pad-xxxxxxl;

    @media (max-width: $tab) {
      padding: $pad-xxxxl $pad-xxl;
      gap: $pad-xxl;
    }

    & > div {
      width: calc(50% - $pad-xxxxxxl / 2);
    }

    .imageWrapper {
      min-width: 300px;
      aspect-ratio: 6 / 5;
      padding: $pad-xl $pad-xxxl;
      border-bottom-left-radius: 16px;
      overflow: hidden;
    }

    & > div:last-child {
      padding-right: $pad-xxxxxl;

      @media (max-width: $tab) {
        padding: 0 $pad-xxl;
        width: 100%;
      }
    }

    h4 {
      margin-bottom: $pad-xxxl;
      text-align: justify;
    }

    ol {
      padding-inline-start: $pad-xl;
      text-align: justify;
    }

    li {
      font-size: 18px;
      margin-bottom: $pad-l;

      @media (max-width: $tab) {
        font-size: 11px;
      }
    }
  }
}

.dailySection {
  h2 {
    background-color: $primary-light-color;
    color: $primary-dark-color;
    padding: $pad-xl $pad-xxxxxxl;

    @media (max-width: $tab) {
      text-align: center;
      padding: $pad-l;
    }
  }

  .imageWrapper {
    max-width: 854px;
    min-width: 328px;
    width: 80vw;
    margin: 0 auto;
    padding: $pad-xxxxxxl;
    aspect-ratio: 6 / 5;

    @media (max-width: $tab) {
      padding: $pad-xl;
    }
  }
}

.ekstrakurikuler {
  h2 {
    background-color: $primary-light-color;
    color: $primary-dark-color;
    padding: $pad-xl $pad-xxxxxxl;
    text-align: right;

    @media (max-width: $tab) {
      text-align: center;
      padding: $pad-l;
    }
  }

  .ekstrakurikulerWrapper {
    padding: $pad-xxxxxxl;

    @media (max-width: $tab) {
      padding: $pad-xxxl;
    }
  }

  .ekstrakurikulerCard {
    width: clamp(200px, 40vw, 306px) !important;
    text-align: center;
    background-color: $primary-light-color;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;

    .imageWrapper {
      aspect-ratio: 3 / 2;
      height: clamp(131px, 26vw, 205px);
    }

    .ekstrakurikulerContent {
      padding: $pad-xxxl;

      @media (max-width: $tab) {
        padding: $pad-xl;
      }

      p {
        font-size: 16px;
        margin-bottom: $pad-xl;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;

        @media (max-width: $tab) {
          font-size: 11px;
        }
      }

      .link {
        width: 120px;
        background-color: $primary-color;
        padding: $pad-s;
        border-radius: 12px;
        border-top-left-radius: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $tab) {
          display: none;
        }
        
        a {
          font-size: 16px;
          text-decoration: none;
          color: white;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}