@use './variables' as *;

.bannerSection {
  height: 60vh;

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  
    span {
      height: 100% !important;
    }
  
    h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: $pad-xxxl;
      padding-left: $pad-xxxxxxl;
      background-color: $primary-light-color;
      color: $primary-dark-color;
    }
  }
}

.kurikulumSection {
  padding: $pad-xxxxl 0 $pad-xxl;

  h2 {
    background-color: $primary-light-color;
    color: $primary-dark-color;
    padding: $pad-xl $pad-xxxxxxl;
    text-align: center;
  }

  .kurikulumWrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: $pad-xxxxxl;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: $pad-xxxxxxl;
    
    @media (max-width: $mobile) {
      align-items: center;
      flex-direction: column;

      span {
        width: 26px !important;
        height: 32px !important;
      }
    }

    .kurikulumItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $pad-xl;
      width: 180px;

      p {
        font-size: 16px;
        text-align: center;
      }
    }
  }

  .kurikulumRef {
    max-width: calc(960px + $pad-xxxxxl);
    margin: 0 auto;
    padding: $pad-xxxxxl;
    padding-top: 0;
    text-align: center;
    color: $black-grey-color;
    font-size: 12px;
  }
}

.targetSection {
  h2 {
    background-color: $primary-light-color;
    color: $primary-dark-color;
    padding: $pad-xl $pad-xxxxxxl;
    text-align: right;
  }

  .targetWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $pad-xxxxxxl;
    padding: $pad-xxxxxxl;

    & > div {
      width: calc(50% - $pad-xxxxxxl / 2);
    }

    .imageWrapper {
      aspect-ratio: 6 / 5;
      padding: $pad-xl $pad-xxxl;
      border-bottom-left-radius: 16px;
      overflow: hidden;
    }

    h5 {
      margin-bottom: $pad-xxxl;
    }

    ol {
      padding-inline-start: $pad-xl;
    }

    li {
      font-size: 16px;
      margin-bottom: $pad-m;
    }
  }
}

.dailySection {
  h2 {
    background-color: $primary-light-color;
    color: $primary-dark-color;
    padding: $pad-xl $pad-xxxxxxl;
  }

  .imageWrapper {
    max-width: 854px;
    width: 80vw;
    margin: 0 auto;
    padding: $pad-xxxxxxl;
    aspect-ratio: 6 / 5;
  }
}

.ekstrakurikuler {
  h2 {
    background-color: $primary-light-color;
    color: $primary-dark-color;
    padding: $pad-xl $pad-xxxxxxl;
    text-align: right;
  }

  .ekstrakurikulerWrapper {
    padding: $pad-xxxxxxl;
  }

  .ekstrakurikulerCard {
    width: 302px !important;
    text-align: center;
    background-color: $primary-light-color;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;

    .imageWrapper {
      height: 200px;
      aspect-ratio: 3 / 2;
    }

    .ekstrakurikulerContent {
      padding: $pad-xxxl;

      p {
        font-size: 16px;
        margin-bottom: $pad-xl;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;
      }

      .link {
        width: 120px;
        background-color: $primary-color;
        padding: $pad-s;
        border-radius: 12px;
        border-top-left-radius: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
          font-size: 16px;
          text-decoration: none;
          color: white;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}