@use '/styles/variables' as *;

.newsTitle {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  text-transform: capitalize;
  padding: $pad-xxxxxl $pad-xxxxxxl $pad-xxxxxxl;

  @media (max-width: $tab) {
      padding: $pad-xxxl ;

  }
}

.newsContainer {
  position: relative;
  padding-left: $pad-xxxxxxl;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: $pad-xxxxxl;
  padding-bottom: $pad-xxxxxxl;

  @media (max-width: 1159px) {
      padding-right: $pad-xxxxxxl;
  }

  @media (max-width: $tab) {
    padding: 0 $pad-xxxl;
  }

  .newsWrapper {
    padding-bottom: $pad-xxxxxxl;
    min-width: 636px;
    max-width: 100%;
    flex: 4;

    @media (max-width: $tab) {
      min-width: 100%;
    }

    & > h3 {
      margin: $pad-xxxxl 0  $pad-xxxl;
    }

    .newsInfo {
      display: flex;
      font-size: 16px;
      column-gap: $pad-xxxxxl;
      margin-bottom: $pad-xxxl;
    }
  }

  .recentNewsWrapper {
    flex: 2;
    width: max(36vw, 450px);
    min-width: 340px;
    padding-bottom: $pad-xxxl;

    @media (max-width: $tab) {
      min-width: 100%;
    }

    h3 {
      padding: $pad-xl $pad-xxxl;
      background-color: $primary-light-color;
      box-shadow: 2px 2px 5px -1px black;
    }

    .recentNews {
      display: flex;
      flex-direction: column;
      padding: $pad-xxxl $pad-xl;
      padding-right: $pad-xxxxxxl;

      @media (max-width: $tab) {
        padding-right: $pad-xl;
      }

      a {
        font-size: 16px;
        text-transform: capitalize;
        padding: $pad-l;

        @media (max-width: $tab) {
          font-size: 13px;
        }
      }

      .currentNews {
        background-color: $primary-light-color;
        font-weight: 700;
      }
    }
  }
}

.iframe {
  width: 100%;
  height: 100%;
}

.newsHeading {
  height: min(40vw, 540px);

  @media (max-width: 1159px) {
    height: min(50vw, 540px);
  }

  @media (max-width: $tab) {
    height: min(60vw, 360px);
  }
}

.newsContent {
  display: flex;
  flex-direction: column;

  p {
    text-align: justify;
    margin: $pad-m 0;
  }

  img {
    max-height: 540px;
    margin: $pad-m auto;
    min-width: 80%;
  }
}