@use '/styles/variables' as *;

.newsTitle {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  text-transform: capitalize;
  padding: $pad-xxxxxl $pad-xxxxxxl $pad-xxxxxxl;
}

.newsContainer {
  position: relative;
  padding-left: $pad-xxxxxxl;
  display: flex;
  align-items: flex-start;
  gap: $pad-xxxxxl;

  .newsWrapper {
    flex-grow: 1;
    padding-bottom: $pad-xxxxxxl;

    & > h3 {
      margin: $pad-xxxxl 0  $pad-xxxl;
    }

    .newsInfo {
      display: flex;
      font-size: 16px;
      column-gap: $pad-xxxxxl;
      margin-bottom: $pad-xxxl;
    }
  }

  .recentNewsWrapper {
    width: max(36vw, 450px);

    h3 {
      padding: $pad-xl $pad-xxxl;
      background-color: $primary-light-color;
      box-shadow: 2px 2px 5px -1px black;
    }

    .recentNews {
      display: flex;
      flex-direction: column;
      padding: $pad-xxxl $pad-xl;
      padding-right: $pad-xxxxxxl;

      a {
        font-size: 16px;
        text-transform: capitalize;
        padding: $pad-l;
      }

      .currentNews {
        background-color: $primary-light-color;
        font-weight: 700;
      }
    }
  }
}

.iframe {
  width: 100%;
  height: 100%;
}

.newsHeading {
  max-width: 100%;
  max-height: 540px;
  height: 45vh;

  & > div {
    height: 100%;
  }
}

.newsContent {
  display: flex;
  flex-direction: column;

  p {
    text-align: justify;
    margin: $pad-m 0;
  }

  img {
    margin: $pad-m auto;
  }
}