@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  /* Font */
  --font-heading: Roboto, sans-serif;
  --font-title: Cinzel, serif;
  --font-paragraph: Poppins, sans-serif;

  /* Space */
  --space-xs: 2px;
  --space-s: 4px;
  --space-m: 8px;
  --space-ml: 10px;
  --space-l: 12px;
  --space-xl: 20px;
  --space-xxl: 24px;
  --space-xxxl: 32px;
  --space-xxxxl: 48px;

  /* Color */
  --color-secondary-dark: #000;
  --color-secondary: #1c1c1c;
  --color-secondary40: rgba(28, 28, 28, 0.4);
  --color-secondary70: rgba(28, 28, 28, 0.7);
  --color-primary: white;
  --color-primary70: rgb(255, 255, 255, 0.7);
  --color-primary-dark: rgb(230, 230, 230);
  --color-tertiary-dark: #a5c1e2;
  --color-tertiary: #c7ddf3;
  --color-tertiary-light: #e9f1fa;
  --color-transparent: rgba(0, 0, 0, 0);
  --color-destructive: rgb(135, 0, 0);

  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--font-paragraph);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.6;
}

a, span, p {
  line-height: 1.6;
}

svg {
  display: block;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

a:-webkit-any-link:hover, a:-webkit-any-link:active {
  text-decoration: underline;
}

/* For slick */
.slick-list, .slick-track, .slick-slide > div {
  height: 100%;
}