@use './base';

// Override react slick
.slick-slide {
  // display: flex !important;
  // justify-content: center;

  & > div {
    width: auto;
    display: flex;
    justify-content: center;

    & > div {
      width: auto;
      margin: 0 auto;
    }

  }
}

// For React Chart
.tickLabel {
  font-size: 14px !important;
}