@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /* Font */
  --font-heading: Helvetica, sans-serif;
  --font-title: Cinzel, sans-serif;
  --font-paragraph: Poppins, sans-serif;

  /* Space */
  --space-xs: 2px;
  --space-s: 4px;
  --space-m: 8px;
  --space-l: 12px;
  --space-xl: 20px;
  --space-xxl: 24px;
  --space-xxxl: 32px;

  /* Color */
  --color-dark: #1c1c1c;
  --color-shadow: rgba(28, 28, 28, 0.7);
  --color-light: white;
  --color-primary: #c7ddf3;
  --color-secondary: #e9f1fa;
  --color-transparent: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Font */
    --font-heading: Helvetica, sans-serif;
    --font-title: Cinzel, sans-serif;
    --font-paragraph: Poppins, sans-serif;
  
    /* Space */
    --space-xs: 2px;
    --space-s: 4px;
    --space-m: 8px;
    --space-l: 12px;
    --space-xl: 20px;
    --space-xxl: 24px;
    --space-xxxl: 32px;
    --space-xxxxl: 48px;
  
    /* Color */
    --color-light: #1c1c1c;
    --color-shadow: rgba(28, 28, 28, 0.7);
    --color-dark: white;
    --color-primary: #c7ddf3;
    --color-secondary: #e9f1fa;
    --color-transparent: rgba(0, 0, 0, 0);;
  }

  html {
    color-scheme: dark;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--font-paragraph);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: var(--font-heading);
  font-weight: 600;
}