@use './variables' as *;

.mainSection {
  height: 90vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.mainSection > div:first-child {
  padding-left: 6%;
  width: 32%;

  h2 {
    margin-bottom: $pad-xxl;
  }

  p {
    margin-bottom: $pad-xxxl;
    color: $black-grey-color;
  }
}

.mainSection > div:last-child {
  position: absolute;
  right: 0;
  height: 100%;
  width: 66%;
  overflow: hidden;

  .dropShadow {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    width: calc(30% + 40px);
    background-color: rgba(255, 255, 255, .75);
    clip-path: polygon(0 0, 40px 0, 100% 100%, calc(100% - 40px) 100%);
  }


  & > div:last-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  }
}

.galeriSection {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: $pad-xxxxl;
  }
}

.galeriCardWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: $pad-xxxl;
  flex-wrap: wrap;
}

.profileSection {
  padding: 2.5% 0;

  & > * {
    text-align: center;
    margin-bottom: $pad-xxxl;
  }

  p, span {
    color: $black-grey-color;
  }

  h4 {
    margin-bottom: $pad-xl;
  }

  .profileWrapper {
    max-width: 989px;
    margin: 0 auto;
    padding: 2.5% 0;

    h1, p {
      margin-bottom: $pad-xxxxl;
    }
  }

  .kurikulumWrapper {
    max-width: 1200px;
    display: flex;
    margin: 0 auto 5%;
    justify-content: space-evenly;
    align-items: fl;
    gap: $pad-xl;
    flex-wrap: wrap;
    align-items: flex-start;

    .kurikulumItem {
      display: flex;
      flex-direction: column;
      gap: $pad-xl;
    }
  } 

  .linksWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $pad-xxxxl;
  }

  .link {
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    padding: $pad-m 0;
    border-radius: 24px;
    border-top-left-radius: 0;

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.quoteSection {
  padding: 7.5% 0;

  .quoteWrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .imageWrapper {
      height: min(70vh, 80vw);
      aspect-ratio: 1.25 / 1;
      padding-right: 5%;
    }

    .quote {
      max-width: 467px;
      text-align: justify;
      text-justify: inter-word;
    }

    h4 {
      margin-bottom: $pad-xxl;
    }

    p {
      line-height: 1.33;
      color: $black-grey-color;
      font-size: 20px;
      margin-bottom: $pad-xxxl;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.fasilitasSection {
  padding: 0 0 7.5%;

  & > h2 {
    text-align: center;
    margin-bottom: $pad-xxxxl;
  }

  .fasilitasWrapper {
    width: 100%;
  }

  .fasilitasContent {
    aspect-ratio: 3 / 1;
    position: relative;

    .fasilitasImageWrapper {
      position: relative;
      height: 100%;
      width: 90%;
      clip-path: polygon(0 0, 80% 0, 50% 100%, 0% 100%);

      .dropShadow {
        z-index: 1;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, .75);
        clip-path: polygon(calc(80% - 40px) 0, 80% 0, 50% 100%, calc(50% - 40px) 100%);
      }

      img {
        object-fit: cover;
        object-position: right 70% !important;
      }
    }

    h2 {
      position: absolute;
      padding: 5%;
      padding-right: 10%;
      bottom: 0;
      right: 0;
      max-width: 36%;
      text-align: right;
    }
  }
}

.videoSection {
  padding: 2.5% 5% 10%;

  h2 {
    text-align: center;
    margin-bottom: $pad-xxxxl;
  }

  .videoWrapper {
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
    gap: $pad-xxxxl;
    max-width: 1100px;

    & > * {
      flex: 0 0 50%;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap-reverse;

      & > * {
        flex: 0 0 100%;
      }
    }

    p {
      padding-top: $pad-l;
      font-size: 27px;
      color: $black-grey-color;
    }

    .videoContent {
      aspect-ratio: 3 / 2;
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
      overflow: hidden;
    }
  }
}