@use './variables' as *;

.mainSection {
  height: calc(100vh - 200px);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: $pad-xxxxxl;
  
  @media (max-width: $mobile) {
    align-items: unset;
    flex-wrap: wrap-reverse;
    height: unset;
  }
}

.mainSection > div:first-child {
  width: calc(50% - $pad-xxxxxl);
  padding-left: 5vw;

  @media (max-width: $mobile) {
    width: unset;
    margin-top: 60vh;
  }

  & > div {
    max-width: 640px;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: $pad-xl;
  }

  p {
    color: $black-grey-color;
    width: 80%;
    min-width: 360px;
    font-weight: 700;
  }

  @media (max-width: $mobile) {
    h1 {
      font-size: 28px;
    }

    p {
      font-size: 14px;
    }
  }
}

.mainSection > div:last-child {
  position: absolute;
  right: 0;
  height: 100%;
  width: 60%;
  overflow: hidden;

  @media (max-width: $mobile) {
    top: 0;
    width: 100%;
    height: 60vh;
  }

  .dropShadow {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    width: calc(30% + 40px);
    background-color: rgba(255, 255, 255, .75);
    clip-path: polygon(0 0, 40px 0, 100% 100%, calc(100% - 40px) 100%);
  }


  & > div:last-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  }
}

.galeriSection {
  padding: $pad-xxxxxl 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: $pad-xxxxxl;
  }
}

.galeriCarousel {
  width: 100%;
  padding: 0 $pad-xxxxxxl;

  .galeriWrapper {
    & > div {
      margin: 0 auto;
    }
  }
}

.profileSection {
  padding: $pad-xxxxxl;

  & > * {
    text-align: center;
    margin-bottom: $pad-xxxl;
  }

  p, span {
    color: $black-grey-color;
  }

  h4 {
    margin-bottom: $pad-xl;
  }

  .profileWrapper {
    max-width: 989px;
    margin: 0 auto;
    padding: 2.5% 0;

    h2, p {
      margin-bottom: $pad-xxxl;
    }
  }

  .kurikulumWrapper {
    max-width: 1000px;
    margin: 0 auto $pad-xxxxl;
    display: flex;
    justify-content: center;
    gap: $pad-xxxxxl;
    flex-wrap: wrap;
    align-items: flex-start;
    
    @media (max-width: $mobile) {
      align-items: center;
      flex-direction: column;

      span {
        width: 26px !important;
        height: 32px !important;
      }
    }

    .kurikulumItem {
      display: flex;
      flex-direction: column;
      gap: $pad-xl;
      width: 180px;

      p {
        font-size: 16px;
      }
    }
  } 

  .linksWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $pad-xxxl;
  }

  .link {
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    padding: $pad-m 0;
    border-radius: 24px;
    border-top-left-radius: 0;
    font-size: 16px;

    @media (max-width: $mobile) {
      width: 130px;
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.quoteSection {
  max-width: 740px;
  margin: 0 auto;
  padding: $pad-xxxxxl $pad-xxxl;
  text-align: center;
  color: $black-grey-color;

  // .quoteWrapper {
  //   max-width: 1200px;
  //   margin: 0 auto;
  //   position: relative;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-wrap: wrap;
  //   gap: $pad-xxxl;

  //   .imageWrapper {
  //     width: clamp(360px, 50vw, 500px);
  //     aspect-ratio: 1.1 / 1;

  //     @media (max-width: $mobile) {
  //       height: unset;
  //       width: 80vw;
  //       aspect-ratio: 1 / 1;
  //       padding: 5%;
  //     }
  //   }

  //   .quote {
  //     max-width: 467px;
  //     text-align: justify;
  //     text-justify: inter-word;

  //     @media (max-width: $mobile) {
  //       text-align: center;

  //       ol {
  //         text-align: left;
  //       }
  //     }

  //     p, div {
  //       line-height: 1.33;
  //       color: $black-grey-color;
  //       font-size: 20px;
  //       margin-bottom: $pad-xxxl;

  //       @media (max-width: $mobile) {
  //         font-size: 11px;
  //       }
  
  //       &:last-child {
  //         margin-bottom: 0;
  //       }
  //     }
      
  //     h4 {
  //       margin-bottom: $pad-xxl;
  //     }
  //   }
  // }
}

.fasilitasSection {
  padding: $pad-xxxxxxl;

  & > h2 {
    text-align: center;
    margin-bottom: $pad-xxxxxl;
  }

  .fasilitasWrapper {
    width: 100%;
    display: flex;
    gap: $pad-xxxxxl;
    justify-content: center;
    flex-wrap: wrap;
  }

  .fasilitasContent {
    width: 306px;
    position: relative;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    background-color: $primary-light-color;

    .fasilitasImageWrapper {
      position: relative;
      height: 205px;
      width: 100%;

      // .dropShadow {
      //   z-index: 1;
      //   position: absolute;
      //   height: 100%;
      //   top: 0;
      //   right: 0;
      //   width: 100%;
      //   background-color: rgba(255, 255, 255, .75);
      //   clip-path: polygon(calc(85% - 40px) 0, 85% 0, 60% 100%, calc(60% - 40px) 100%);
      // }

      // @media (max-width: $mobile) {
      //   clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);

      //   .dropShadow {
      //     clip-path: polygon(calc(100% - 20px) 0, 100% 0, 60% 100%, calc(60% - 20px) 100%);
      //   }
      // }

      img {
        object-fit: cover;
        object-position: right 70% !important;
      }
    }

    h2 {
      position: absolute;
      padding: 5%;
      padding-right: 5vw;
      bottom: 0;
      right: 0;
      max-width: 36%;
      text-align: right;

      @media (max-width: $mobile) {
        font-size: 20px;
      }
    }
  }

  p {
    text-align: center;
    padding: $pad-xxxl;
    font-weight: 600;
  }
}

.videoSection {
  padding: $pad-xxxxxxl;

  h2 {
    text-align: center;
    margin-bottom: $pad-xxxxl;
  }

  .videoWrapper {
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
    gap: $pad-xxxxl;
    max-width: 1100px;
    flex-wrap: wrap;

    .videoContent {
      flex: 0 0 calc(50% - $pad-xxxxl / 2);
      min-width: 360px;
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
      background-color: $primary-light-color;

      .videoImage {
        width: 100%;
        margin: 0 auto;
        aspect-ratio: 1.76 / 1;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        overflow: hidden;

        .iframe {
          width: 100%;
          height: 100%;
        }
      }

      p {
        color: black;
        text-align: center;
        font-size: 16px;
        padding: $pad-xxxl;
        font-weight: 700;
      }
    }
  }
}