.carouselContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.carouselDimension {
  position: relative;
  height: calc(100vh - 98px);
}

@media (min-height: 640px) {
  .carouselDimension {
    height: 640px;
  }
}

@media (max-width: 560px) {
  .carouselDimension {
    height: 375px;
  }
}

.imageCaption {
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: var(--space-s) var(--space-m);
  text-align: right;
  background-color: var(--color-secondary70);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  color: var(--color-primary);
}

.mainContent {
  position: relative;
  z-index: 4;
  background-color: var(--color-primary);
}

.articleWrapper {
  padding: 0 var(--space-l);
}

.topArticle, .middleArticle, .bottomArticle {
  max-width: 1200px;
  margin-left:  auto;
  margin-right: auto;
  padding-top: var(--space-xxxxl);
  padding-bottom: var(--space-xxxxl);
}

.topArticle {
  padding-top: var(--space-xxxl);
}

.middleArticle {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.featured {
  font-size: 15px;
  letter-spacing: 1px;
}

.middleArticleTitle {
  margin: var(--space-xl) 0 var(--space-xxxl);
}

.middleArticleTitle > h2 {
  font-family: var(--font-title);
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 500;
}

@media(min-width: 1200px) {
  .middleArticleTitle > h2 {
    font-size: 34px;
    margin-right: var(--space-xl);
  }
}

.middleArticleBody {
  margin-bottom: var(--space-xl);
}

.middleArticleBody > p {
  font-size: 15px;
  line-height: 1.75;
  text-align: justify;
  text-justify: inter-word;
}

.middleArticleButton {
  margin-bottom: var(--space-xl);
}

.articleCarousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.articleCarousel .articleCarouselImg {
  padding-bottom: 56%;
}

.articleCarousel > div {
  height: inherit;
}

.articleCarouselWrapper {
  position: relative;
  width: 100%;
}

@media (min-width: 960px) {
  .articleCarouselWrapper {
    position: absolute;
    width: 75% !important;
    right: 0;
    top: 0;
    bottom: 0;
    aspect-ratio: 5 / 3;
  }

  .articleCarousel .articleCarouselImg {
    padding-bottom: unset;
  }
}

.lastArticle {
  background-color: var(--color-tertiary-light);
  display: flex;
  justify-content: center;
  margin-left: calc(-1 * var(--space-l));
  margin-right: calc(-1 * var(--space-l));
}

.lastArticleContent {
  max-width: 1100px;
  padding: 88px var(--space-xl) 120px;
}

.lastArticleContent > div:last-child {
  padding-top: var(--space-xxxxl);
}

.lastArticleImg {
  padding-bottom: 54%;
}

.lastArticleSailAway {
  font-size: 15px;
  letter-spacing: 1px;
  padding-bottom: var(--space-ml);
}

.lastArticleTitle {
  font-family: var(--font-title);
  font-weight: 500;
  padding-bottom: var(--space-xl);
}

.lastArticleDesc {
  font-size: 14px;
  padding-bottom: var(--space-xl);
}

.lastArticleButton {
  line-height: 1;
}

.sectionDropdown {
  background-color: var(--color-tertiary);
  padding: 0 var(--space-l);
}

.sectionDropdown h2 {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: .5px;
  padding: var(--space-xl) 0 var(--space-ml);
}

.sectionDropdown a {
  display: block;
  color: var(--color-secondary);
  font-size: 15px;
  margin-bottom: var(--space-s);
}

.sectionDropdownText {
  padding: var(--space-m) 0;
}

.sectionDropdownContainer {
  position: relative;
  padding-left: 0;
}

.sectionDropdownContainer > div {
  padding-top: 0;
}

.sectionDropdownItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.sectionDropdownItem:last-child {
  border: none;
}