@use './variables' as *;

.mainSection {
  height: calc(100vh - 200px);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: $pad-xxxxxl;
  
  @media (max-width: $tab) {
    align-items: unset;
    flex-wrap: wrap-reverse;
    min-height: 250px;
    height: 60vh;
    margin-bottom: 0;
  }
}

.mainSection > div:first-child {
  width: calc(50% - $pad-xxxxxl);
  padding-left: 5vw;

  @media (max-width: $tab) {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.6);

    & > div {
      width: 75%;
      padding: $pad-xl;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  & > div {
    max-width: 640px;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: $pad-xl;
  }

  p {
    color: $black-grey-color;
    width: 80%;
    min-width: 360px;
    font-weight: 700;
  }

  @media (max-width: $tab) {
    h1 {
      font-size: 28px;
      color: white;
    }

    p {
      font-size: 14px;
      width: 100%;
      min-width: unset;
      color: white;
      font-weight: 400;
    }
  }
}

.mainSection > div:last-child {
  position: absolute;
  right: 0;
  height: 100%;
  width: 60%;
  overflow: hidden;

  @media (max-width: $tab) {
    top: 0;
    width: 100%;
  }

  .dropShadow {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    width: calc(30% + 40px);
    background-color: rgba(255, 255, 255, .75);
    clip-path: polygon(0 0, 40px 0, 100% 100%, calc(100% - 40px) 100%);

    @media (max-width: $tab) {
      display: none;
    }
  }

  & > div:last-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);

    @media (max-width: $tab) {
      clip-path: none;
    }
  }
}

.newsSection {
  padding: $pad-xxxxxl 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: $pad-xxxxxl;
  }

  @media (max-width: $tab) {
    padding: $pad-xxxl 0;

    h2{
      margin-bottom: $pad-xl;
      font-size: 14px;
    }
  }
}

.newsCarousel {
  width: 100%;
  padding: 0 $pad-xxxxxxl;
  
  @media (max-width: $tab) {
    padding: 0;
  }
}

.newsCard {
  width: clamp(340px, 37.5vw, 442px) !important;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  background-color: $primary-light-color;

  .newsImage {
    width: 100%;
    aspect-ratio: 1.5 / 1;
    max-height: 296px;
  }

  .newsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: $pad-xl;
    padding: $pad-xl $pad-xxxxxl $pad-xxxxl;

    .titleContainer {
      min-height: 72px;
      display: flex;
      align-items: center;

      h4 {
        text-align: center;
      }
    }

    .continue {
      background-color: $primary-color;
      color: white;
      padding: $pad-m $pad-l;
      min-width: fit-content;
      width: 60%;
      max-width: 244px;
      text-align: center;
      font-size: 16px;
      border-radius: 20px;
      border-top-left-radius: 0;
      font-weight: 700;
    }
  }
}

.profileSection {
  padding: $pad-xxxxxl;

  @media (max-width: $tab) {
    padding: $pad-xxxl $pad-xxxxl;
  }

  & > * {
    text-align: center;
    margin-bottom: $pad-xxxl;
  }

  p, span {
    color: $black-grey-color;
  }

  h4 {
    margin-bottom: $pad-xl;
  }

  .profileWrapper {
    max-width: 989px;
    margin: 0 auto;
    padding: 2.5% 0;

    h2 {
      margin-bottom: $pad-xxxl;

      @media (max-width: $tab) {
        margin-bottom: $pad-xl;
        font-size: 14px;
      }
    }

    p {
      margin-bottom: $pad-xxxl;
      padding: 0 $pad-xxxl;

      @media (max-width: $tab) {
        margin-bottom: $pad-xl;
        font-size: 13px;
      }
    }
  }

  h3 {
    @media (max-width: $tab) {
      font-size: 14px;
    }
  }

  .kurikulumWrapper {
    max-width: 1000px;
    margin: 0 auto $pad-xxxxl;
    display: flex;
    justify-content: center;
    gap: $pad-xxxxxl;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (max-width: $tab) {
      width: min(78vw, 250px);
      gap: $pad-xl;
    }

    .kurikulumItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $pad-xl;
      width: 180px;

      p {
        font-size: 16px;
      }

      @media (max-width: $tab) {
        flex-direction: row;
        gap: $pad-m;
        width: 100%;

        img {
          max-width: 15px !important;
        }

        p {
          font-size: 13px;
          text-align: left;
        }
      }
    }
  } 

  .linksWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $pad-xxxl;

    @media (max-width: $tab) {
      margin-bottom: 0;
    }
  }

  .link {
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    padding: $pad-m 0;
    border-radius: 24px;
    border-top-left-radius: 0;
    font-size: 16px;

    @media (max-width: $tab) {
      width: 130px;
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.quoteSection {
  max-width: 740px;
  margin: 0 auto;
  padding: $pad-xxxxxl $pad-xxxl;
  text-align: center;
  color: $black-grey-color;

  @media (max-width: $tab) {
    padding: $pad-xxl calc($pad-xxl * 2);

    p { 
      font-size: 13px;
    }
  }
}

.fasilitasSection {
  padding: $pad-xxxxxxl;

  & > h2 {
    text-align: center;
    margin-bottom: $pad-xxxxxl;
  }

  @media (max-width: $tab) {
    padding: $pad-xxxl;

    & > h2 {
      margin-bottom: $pad-xl;
      font-size: 14px;
    }
  }

  .fasilitasCarousel {
    display: none;

    @media (max-width: $tab) {
      display: block;
    }
  }

  .fasilitasWrapper {
    display: flex;
    gap: $pad-xxxxxl;
    flex-wrap: nowrap;
    justify-content: center;

    @media (max-width: $small-desktop) {
      justify-content: flex-start;
      gap: $pad-xxxl;
      overflow-x: scroll;
    }

    @media (max-width: $tab) {
      display: none;
    }
  }

  .fasilitasContent {
    flex-shrink: 0;
    width: clamp(200px, 40vw, 306px) !important;
    position: relative;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    background-color: $primary-light-color;

    .fasilitasImageWrapper {
      position: relative;
      height: clamp(131px, 26vw, 205px);
      width: 100%;

      // .dropShadow {
      //   z-index: 1;
      //   position: absolute;
      //   height: 100%;
      //   top: 0;
      //   right: 0;
      //   width: 100%;
      //   background-color: rgba(255, 255, 255, .75);
      //   clip-path: polygon(calc(85% - 40px) 0, 85% 0, 60% 100%, calc(60% - 40px) 100%);
      // }

      // @media (max-width: $mobile) {
      //   clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);

      //   .dropShadow {
      //     clip-path: polygon(calc(100% - 20px) 0, 100% 0, 60% 100%, calc(60% - 20px) 100%);
      //   }
      // }

      img {
        object-fit: cover;
        object-position: right 70% !important;
      }
    }

    h2 {
      position: absolute;
      padding: 5%;
      padding-right: 5vw;
      bottom: 0;
      right: 0;
      max-width: 36%;
      text-align: right;
    }
  }

  p {
    text-align: center;
    padding: $pad-xxxl;
    font-weight: 600;

    @media (max-width: $tab) {
      font-size: 13px;
    }
  }
}

.videoSection {
  padding: $pad-xxxxxxl;

  @media (max-width: $tab) {
    padding: $pad-xxxl;
  }

  h2 {
    text-align: center;
    margin-bottom: $pad-xxxxl;

    @media (max-width: $tab) {
      margin-bottom: $pad-xl;
    }
  }

  .videoWrapper {
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
    gap: $pad-xxxxl;
    max-width: 1100px;
    flex-wrap: wrap;

    @media (max-width: $tab) {
      gap: $pad-xxl;
    }

    .videoContent {
      flex: 0 0 calc(50% - $pad-xxxxl / 2);
      min-width: 320px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: $primary-light-color;

      .videoImage {
        width: 100%;
        margin: 0 auto;
        aspect-ratio: 1.76 / 1;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;

        .iframe {
          width: 100%;
          height: 100%;
        }
      }

      p {
        color: black;
        text-align: center;
        font-size: 16px;
        padding: $pad-xxxl;
        font-weight: 700;

        @media (max-width: $tab) {
          font-size: 13px;
          padding: $pad-m $pad-l;
        }
      }
    }
  }
}