@use './variables' as *;

.mainSection {
  height: 90vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  
  @media (max-width: $mobile) {
    align-items: unset;
    flex-wrap: wrap-reverse;
    height: unset;
  }
}

.mainSection > div:first-child {
  padding: 6%;
  padding-bottom: 0;
  width: 32%;

  @media (max-width: $mobile) {
    width: unset;
    margin-top: 60vh;
  }

  h2 {
    margin-bottom: $pad-xxl;
  }

  p {
    margin-bottom: $pad-xxxl;
    color: $black-grey-color;
  }

  @media (max-width: $mobile) {
    h2 {
      font-size: 28px;
    }

    p {
      font-size: 14px;
    }
  }
}

.mainSection > div:last-child {
  position: absolute;
  right: 0;
  height: 100%;
  width: 66%;
  overflow: hidden;

  @media (max-width: $mobile) {
    top: 0;
    width: 100%;
    height: 60vh;
  }

  .dropShadow {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    width: calc(30% + 40px);
    background-color: rgba(255, 255, 255, .75);
    clip-path: polygon(0 0, 40px 0, 100% 100%, calc(100% - 40px) 100%);
  }


  & > div:last-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  }
}

.galeriSection {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: $pad-xxxxl;
  }
}

.galeriCardWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: $pad-xxxl;
  flex-wrap: wrap;
}

.profileSection {
  padding: 2.5%;

  & > * {
    text-align: center;
    margin-bottom: $pad-xxxl;
  }

  p, span {
    color: $black-grey-color;
  }

  h4 {
    margin-bottom: $pad-xl;
  }

  .profileWrapper {
    max-width: 989px;
    margin: 0 auto;
    padding: 2.5% 0;

    h1, p {
      margin-bottom: $pad-xxxxl;
    }
  }

  .kurikulumWrapper {
    max-width: 1200px;
    display: flex;
    margin: 0 auto 5%;
    justify-content: space-evenly;
    gap: $pad-xl;
    flex-wrap: wrap;
    align-items: flex-start;
    
    @media (max-width: $mobile) {
      align-items: center;
      flex-direction: column;

      span {
        width: 26px !important;
        height: 32px !important;
      }
    }

    .kurikulumItem {
      display: flex;
      flex-direction: column;
      gap: $pad-xl;
      width: 160px;
    }
  } 

  .linksWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $pad-xxxxl;
  }

  .link {
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    padding: $pad-m 0;
    border-radius: 24px;
    border-top-left-radius: 0;

    @media (max-width: $mobile) {
      width: 130px;
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.quoteSection {
  padding: 7.5% 5vw;

  .quoteWrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: $pad-xxxl;

    .imageWrapper {
      height: min(70vh, 80vw);
      aspect-ratio: 1.25 / 1;
      padding: 0 5vw;

      @media (max-width: $mobile) {
        height: 30vh;
      }
    }

    .quote {
      max-width: 467px;
      text-align: justify;
      text-justify: inter-word;

      @media (max-width: $mobile) {
        text-align: center;

        ol {
          text-align: left;
        }
      }

      p, div {
        line-height: 1.33;
        color: $black-grey-color;
        font-size: 20px;
        margin-bottom: $pad-xxxl;

        @media (max-width: $mobile) {
          font-size: 11px;
        }
  
        &:last-child {
          margin-bottom: 0;
        }
      }
      
      h4 {
        margin-bottom: $pad-xxl;
      }
    }
  }
}

.fasilitasSection {
  padding: 2.5% 0 7.5%;

  & > h2 {
    text-align: center;
    margin-bottom: $pad-xxxxl;
  }

  .fasilitasWrapper {
    width: 100%;
  }

  .fasilitasContent {
    aspect-ratio: 11 / 4;
    position: relative;

    .fasilitasImageWrapper {
      position: relative;
      height: 100%;
      width: 100%;
      clip-path: polygon(0 0, 85% 0, 60% 100%, 0% 100%);
      min-height: 40vh;

      .dropShadow {
        z-index: 1;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, .75);
        clip-path: polygon(calc(85% - 40px) 0, 85% 0, 60% 100%, calc(60% - 40px) 100%);
      }

      @media (max-width: $mobile) {
        clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);

        .dropShadow {
          clip-path: polygon(calc(100% - 20px) 0, 100% 0, 60% 100%, calc(60% - 20px) 100%);
        }
      }

      img {
        object-fit: cover;
        object-position: right 70% !important;
      }
    }

    h2 {
      position: absolute;
      padding: 5%;
      padding-right: 5vw;
      bottom: 0;
      right: 0;
      max-width: 36%;
      text-align: right;

      @media (max-width: $mobile) {
        font-size: 20px;
      }
    }
  }
}

.videoSection {
  padding: 5% 5% 10%;

  h2 {
    text-align: center;
    margin-bottom: $pad-xxxxl;
  }

  .videoWrapper {
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
    gap: $pad-xxxxl;
    max-width: 1100px;

    & > * {
      flex: 0 0 50%;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap-reverse;

      & > * {
        flex: 0 0 100%;
      }
    }

    p {
      padding-top: $pad-l;
      font-size: 27px;
      color: $black-grey-color;

      @media (max-width: $mobile) {
        font-size: 11px;
        padding: 0;
        text-align: center;
      }
    }

    .videoContent {
      aspect-ratio: 3 / 2;
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
      overflow: hidden;

      @media (max-width: $mobile) {
        width: 80%;
        padding: 0;
        flex: none;
      }
    }
  }
}