@use './variables' as *;

.brosurWrapper {
  display: flex;
  gap: $pad-s;
  overflow: hidden;
  flex-wrap: wrap;

  @media (max-width: $tab) {
    height: unset;
  }

  .brosurLeft, .brosurRight {
    height: 100% !important;

    span {
      height: 100% !important;
    }
  }

  @media (max-width: $tab) {
    gap: 0;
  }

  .brosurLeft {
    width: 56%;
    aspect-ratio: 668 / 462;

    @media (max-width: $tab) {
      flex: unset;
      width: 100%;
    }
  }

  .brosurRight {
    position: relative;
    flex-grow: 1;

    & > div:first-child {
      aspect-ratio: 72 / 63.75;
    }

    & > * {
      @media (max-width: $tab) {
        flex: 0 0 50%;

        &:first-child {
          aspect-ratio: 8 / 7;
          max-width: 50%;
        }
      }
    }

    @media (max-width: $tab) {
      flex: unset;
      width: 100%;
      display: flex;
    }

    .brosurRightContent {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.6);

      @media (max-width: $tab) {
        position: static;
        background-color: white;
      }

      h2 {
        color: white;
        max-width: 200px;
        text-align: center;
        margin-bottom: $pad-m;
      }
      ul {
        padding-left: $pad-m;
      }
      li {
        color: white;
        margin-bottom: $pad-s;
      }

      @media (max-width: $tab) {
        h2 {
          color: black;
          max-width: 200px;
          text-align: center;
          margin-bottom: $pad-m;
          margin-left: -12px;
        }
        ul {
          padding-left: $pad-m;
        }
        li {
          color: black;
          font-size: 12px;
          margin-bottom: $pad-s;
        }
      }
    }
  }
}

.brosurBottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: $pad-xxxxl $pad-xxxxxxl;
  background-color: $primary-color;
  gap: $pad-xxxl;

  @media (max-width: $tab) {
    padding: $pad-xxxl 0;
  }

  & > div {
    flex: 3;
    min-width: 300px;
    padding: 0 $pad-xxxl;
    color: white;

    &:last-child {
      flex: 2;
      display: flex;
      flex-direction: column;
      row-gap: $pad-xxxl;
      justify-content: center;
      align-items: center;

      @media (max-width: $tab) {
        row-gap: $pad-l;
      }

      a {
        max-width: 215px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding: $pad-l;
        color: white;
        background-color: $secondary-color;
        border-radius: 20px;
        border-top-left-radius: 0;
        font-weight: 700;

        @media (max-width: $tab) {
          max-width: 150px;
          padding: $pad-m  $pad-l;
          font-size: 11px;
        }
      }
    }

    td {
      padding: 0;
      padding-right: $pad-xl;
      padding-bottom: calc($pad-l / 2);
      padding-top: calc($pad-l / 2);
      vertical-align: top;

      @media (max-width: $tab) {
        font-size: 12px;
      }
    }
  }
}

.syaratSection {
  & > h2 {
    background-color: $primary-light-color;
    width: 100%;
    padding: $pad-xl $pad-l $pad-xl $pad-xxxxxxl;

    @media (max-width: $tab) {
      text-align: center;
      padding: $pad-l;
    }
  }

  & > div {
    width: 100%;
    padding: $pad-xxxxl $pad-xxxxxxl;
    max-width: 800px;

    @media (max-width: $tab) {
      padding: $pad-xxxl;
    }
  }

  ol {
    padding-left: $pad-xxl;

    li {
      margin-bottom: $pad-m;

      @media (max-width: $tab) {
        font-size: 12px;
      }
    }

    ul {
      margin-top: $pad-m;
      list-style-type: disc;
      padding-left: $pad-xxl;
    }
  }
}

.lokasiSection {
  & > h2 {
    background-color: $primary-light-color;
    width: 100%;
    padding: $pad-xl $pad-l $pad-xl $pad-xxxxxxl;

    @media (max-width: $tab) {
      text-align: center;
      padding: $pad-l;
    }
  }

  & > div {
    width: 100%;
    padding: $pad-xxxxl $pad-xxxxxxl;
    max-width: 800px;

    p:first-child {
      font-size: 16px;
      margin-bottom: $pad-xl;
    }

    h4 {
      margin-bottom: $pad-s;
    }

    @media (max-width: $tab) {
      padding: $pad-xxxl;

      p:first-child {
        font-size: 11px;
        margin-bottom: $pad-m;
      }
  
      p:last-child {
        font-size: 12px;
      }
    }
  }
}